<h1>Update user</h1>
<form action="/user/update" method="post">
   
   name: <input type="text" name="name" value={{name}}>
    Age: <input type="text" name="age" value={{age}}>
    <input type="hidden" name="id" value={{id}}>
    <button type="submit"> Update</button>
</form>